.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: #1351b4;
}

.logo {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-button {
  border: none;
  background: none;
  color: #fff;
  font-size: 24px;
}
